<!-- Top menu -->
        <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> -->
                    <div class="navbar-brand"></div>
                </div>
                <!-- <div class="collapse navbar-collapse" id="top-navbar-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <span class="li-text">
                                Contact Us: 
                            </span> 
                            <span class="li-social">
                                <a href="#"><i class="fa fa-facebook"></i></a> 
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-envelope"></i></a> 
                                <a href="#"><i class="fa fa-skype"></i></a>
                            </span>
                        </li>
                    </ul>
                </div> -->
            </div>
        </nav>

        <!-- Top content -->
        <div class="top-content">
            
            <div class="inner-bg container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 text">
                            <h1>Get a Truck in 5 seconds!</h1>
                            <div class="description">
                                <p>
                                    Just feed in your requirements and you'll be connected with a truck owner.
                                </p>
                            </div>
                            <div class="top-big-link">
                                <a class="cta btn btn-link-1" href="#middle-section">Read More ></a>
                            </div>
                        </div>
                        <div class="col-sm-5 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Enter Load  details</h3>
                                    <p>Fill the form to demand a truck:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-pencil"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="/entry" method="post" class="registration-form">
                                    <div class="form-group col-sm-6 from-city-field">
                                        <l abel class="" for="form-last-name">From</label>
                                        <%= select_tag(:from_city_id, options_for_select(City.pluck(:name, :id)), class: 'form-control') %>
                                    </div>
                                    <div class="form-group col-sm-6 to-city-field">
                                        <label class="" for="form-last-name">To</label>
                                        <%= select_tag(:to_city_id, options_for_select(City.pluck(:name, :id)), class: 'form-control') %>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="" for="form-last-name">Material</label>
                                        <%= select_tag(:material_id, options_for_select(Material.pluck(:name, :id)), class: 'form-control') %>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="" for="form-last-name">Truck Type</label>
                                        <%= select_tag(:truck_type_id, options_for_select(TruckType.pluck(:name, :id)), class: 'form-control') %>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="" for="form-last-name">Weight</label>
                                        <%= select_tag(:weight_id, options_for_select(Weight.pluck(:name, :id)), class: 'form-control') %>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="" for="form-first-name">Scheduled Date</label>
                                        <input type="text" name="date" placeholder="dd/mm/YYYY" class="form-control date-field" id="form-first-name">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="" for="form-first-name">Number of Trucks</label>
                                        <%= select_tag(:number_of_trucks, options_for_select((1..10).to_a), class: 'form-control') %>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="" for="form-first-name">Mobile</label>
                                        <input type="text" name="mobile" placeholder="Mobile" class="form-control mobile-field" id="form-first-name">
                                    </div>
                                    <button type="submit" class="submit-btn btn">Get me a Truck!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <br />
                <br />
                <br />

            </div>
            
        </div>

        
        <div id="middle-section" class="middle-content row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <br />
                <br />
                <h2>How does it work?</h2>
                <br />
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <img src="<%= asset_path('book.png') %>" class="book fa fa-circle fa-stack-2x">
                            </span>
                            <h4>
                                <strong>Post your requirements</strong>
                            </h4>
                            <p>Fill in the details about the truck that you want in the form above</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <img src="<%= asset_path('handshake.png') %>" class="fa fa-circle fa-stack-2x">
                        </span>
                            <h4>
                                <strong>Get connected with a truck owner</strong>
                            </h4>
                            <p>You're connected directly with a truck owner with an available truck</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <img src="<%= asset_path('truck.png') %>" class="fa fa-circle fa-stack-2x">
                        </span>
                            <h4>
                                <strong>Your truck is on the way!</strong>
                            </h4>
                            <p>The truck arrives at the correct time at the location of your choice</p>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
            </div>
        </div>

        <div class="bottom-content row text-center">
            <div class="col-lg-12">
                <br />
                <br />
                <h2 style="color: #ffffff">Contact Us</h2>
                <br />
                <div class="col-lg-2"></div>
                <div class="summary col-lg-8">
                    We are here to make the logistics process easier for you. 
                    <br />
                    Have a query? Send us an email and we will get back to you as soon as possible!
                </div>
                <div class="col-lg-2"></div>
                <br />
                <br />
                <br />
                <div class="col-lg-4"></div>
                <div class="col-lg-2"><i class="fa fa-envelope"></i>&nbsp;<a href="mailto:info@babatrucks.com">info@babatrucks.com</a></div>
                <div class="col-lg-2"><i class="fa fa-phone"></i>&nbsp;+91-9051833262</div>
                <div class="col-lg-4"></div>
                <br />
                <br />
                <br />
            </div>
        </div>
