<!-- Top menu -->
        <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Bootstrap Registration Form Template</a>
                </div>
                <!-- <div class="collapse navbar-collapse" id="top-navbar-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <span class="li-text">
                                Contact Us: 
                            </span> 
                            <span class="li-social">
                                <a href="#"><i class="fa fa-facebook"></i></a> 
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-envelope"></i></a> 
                                <a href="#"><i class="fa fa-skype"></i></a>
                            </span>
                        </li>
                    </ul>
                </div> -->
            </div>
        </nav>

        <!-- Top content -->
        <div class="top-content">
            
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 text">
                            <h1>Get a Truck in 5 seconds!</h1>
                            <div class="description">
                                <p>
                                    Just feed in your requirements and you'll be connected with a truck owner.
                                </p>
                            </div>
                            <div class="top-big-link">
                                <a class="cta btn btn-link-1" href="#middle-section">Read More ></a>
                            </div>
                        </div>
                        <div class="col-sm-5 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Enter Load  details</h3>
                                    <p>Fill the form to demand a truck:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-pencil"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="/entry" method="post" class="registration-form">
                                    <div class="form-group col-sm-6">
                                        <label class="" for="form-last-name">From</label>
                                        <%= select_tag(:from_city_id, options_for_select(City.pluck(:name, :id)), class: 'form-control') %>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="" for="form-last-name">To</label>
                                        <%= select_tag(:to_city_id, options_for_select(City.pluck(:name, :id)), class: 'form-control') %>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="" for="form-last-name">Material</label>
                                        <%= select_tag(:material_id, options_for_select(Material.pluck(:name, :id)), class: 'form-control') %>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="" for="form-last-name">Truck Type</label>
                                        <%= select_tag(:material_id, options_for_select(TruckType.pluck(:name, :id)), class: 'form-control') %>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="" for="form-last-name">Weight</label>
                                        <%= select_tag(:weight_id, options_for_select(Weight.pluck(:name, :id)), class: 'form-control') %>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="" for="form-first-name">Scheduled Date</label>
                                        <input type="text" name="date" placeholder="dd/mm/YYYY" class="form-control" id="form-first-name">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="" for="form-first-name">Number of Trucks</label>
                                        <%= select_tag(:number_of_trucks, options_for_select((1..10).to_a), class: 'form-control') %>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="" for="form-first-name">Mobile</label>
                                        <input type="text" name="mobile" placeholder="Mobile" class="form-control" id="form-first-name">
                                    </div>
                                    <button type="submit" class="submit-btn btn">Get me a Truck!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <br />
                <br />
                <br />

                <div id="middle-section" class="middle-content row text-center">
                    <div class="col-lg-10 col-lg-offset-1">
                        <br />
                        <br />
                        <h2>How does it work?</h2>
                        <br />
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="service-item">
                                    <span class="fa-stack fa-4x">
                                    <img src="assets/book.png" class="fa fa-circle fa-stack-2x">
                                    </span>
                                    <h4>
                                        <strong>Post your requirements</strong>
                                    </h4>
                                    <p>Fill in the details about the truck that you want in the form above</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="service-item">
                                    <span class="fa-stack fa-4x">
                                    <img src="assets/handshake.png" class="fa fa-circle fa-stack-2x">
                                </span>
                                    <h4>
                                        <strong>Get connected with a truck owner</strong>
                                    </h4>
                                    <p>You're connected directly with a truck owner with an available truck</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="service-item">
                                    <span class="fa-stack fa-4x">
                                    <img src="assets/truck.png" class="fa fa-circle fa-stack-2x">
                                </span>
                                    <h4>
                                        <strong>Get the truck</strong>
                                    </h4>
                                    <p>The truck arrives at the correct time at the location of your choice</p>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>

                <div class="bottom-content row text-center">
                    <div class="col-lg-10 col-lg-offset-1">
                        <br />
                        <br />
                        <h2 style="color: #ffffff">Lets get in touch!</h2>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            
        </div>
